<% @title = @post.title_en
   @heading = @post.title_en %>

<div class="container">
  <h3><%= @post.title_en %></h3>
  <p><%= @post.text_en %></p>
  <p>by <%= link_to @post.user.email, user_path(@post.user) %></p>
  <p><%= @post.created_at %></p>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', @post, method: 'delete' %>
</div>